// File: src/UI/src/mods/InfoCheckbox/InfoCheckbox.module.scss
// Purpose: Styling for checkboxes.


.subPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5rem 6rem;
    background-color: rgba(255, 255, 255, 0.12);
    border-top-left-radius: var(--panelRadiusInnerSIP);
    border-top-right-radius: var(--panelRadiusInnerSIP);
    border-bottom-left-radius: var(--panelRadiusInnerSIP);
    border-bottom-right-radius: var(--panelRadiusInnerSIP);
    align-items: center;
}

.subPanel:hover {
    background-color: rgba(255, 255, 255, 0.18);
}

.subPanel:active {
    background-color: var(--activeColorBright);
}


.iconLabelSection {
    min-width: 0;
    flex: 1 1 auto;
}


.labelCheckboxSection {
    flex: 0 0 auto;
}

.icon {
    flex: 0 0 24rem;
}

.label {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
    .label:disabled {
        color: rgba(254, 254, 254, 0.6);
    }
